# Requires Python 3.12.10

# Python==3.12.10
python-dotenv==1.1.0
langchain-openai==0.3.18
langgraph==0.4.5
langchain-mcp-tools==0.2.4
braintrust==0.1.0
braintrust-langchain==0.0.2
websockets==15.0.1
chromadb==1.0.10
langchain-core==0.3.61
langchain-community==0.3.24
langchain-mcp-adapters==0.1.1
openai==1.82.0
gradio==5.31.0
numpy==2.2.6
langchain-chroma==0.2.4
huggingface_hub==0.32.0
mcp==1.9.2
